.header-main {
  margin-top: 1em;
  background: none !important;
}

.header-inner {
  background: #3d85c6 !important;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.02) !important;
}
.header-bottom {
  box-shadow: none;
  background-color: transparent !important;
  margin-top: 10px;
}

.shade-top {
  background: none !important;
}
#logo img {
  max-height: 100px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 9px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.stuck #logo img {
  height: 60px !important;
}

.header-logo-dark {
  height: 60px !important;
}

.header-wrapper {
  background-color: none !important;
  background: none !important;
}

.header-wrapper.stuck {
  box-shadow: none !important;
}

body {
  font-family: "Gilroy" !important;
  font-weight: 500 !important;
}

h1,
h2,
h3 {
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  letter-spacing: -0.5px;
}

h4,
h5,
h6 {
  font-family: "Gilroy" !important;
  font-weight: 600 !important;
  letter-spacing: -0.5px;
}

.header-main .nav > li > a {
  font-family: "Gilroy" !important;
  font-weight: bold !important;
}

.nav-line-grow > li > a:before {
  background-color: #bbdefb !important;
  top: -5px !important;
  height: 5px !important;
}

.nav-dark .nav > li > a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.nav-dark .nav > li.active > a {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.custom-three-box {
  margin-top: -90px;
}

.box-shadow-4 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12) !important;
}

.pwb-brands-in-loop {
  border-radius: 3px;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08);
}

.product-images {
  border-radius: 3px;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08);
}
/*.header-wrapper.stuck {
    box-shadow: none !important;
}*/

.border-custom {
  border: 2px solid #f7f7f7;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08);
}

.custom-product-space {
  padding: 0 9.8px 0.6px !important;
}

.widget_product_categories {
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08) !important;
  border-radius: 2px !important;
  border: 2px solid #f7f7f7 !important;
}

.custom-sidebar {
  text-align: center !important;
  background: #bbdefb;
  font-size: 1em;
  font-weight: 600;
  padding: 7px 10px;
}

.title-sidebar-custom {
  background: #3d85c6;
}

.product-categories {
  padding: 0px 10px !important;
}

.widget > ul > li > a {
  color: #0b0d45 !important;
}

.widget > ul > li .count {
  background: #e5e5e5;
  margin: 2px;
  font-weight: 600 !important;
  line-height: 1em !important;
  padding: 4px 7px;
}

ul.product_list_widget li img {
  height: 80px !important;
}

.custom-breadcumbs {
  background: #ffffff;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  padding: 0.8rem 0.9rem !important;
  font-weight: bold !important;
  align-items: center !important;
}

.breadcrumbs a {
  font-weight: 600 !important;
}

.breadcrumbs a:active {
  color: #0a0d45 !important;
}

.header-bg-image-custom {
  height: 270px;
  margin-top: -120px;
  background-size: cover;
  background-image: url("https://ges13.com/wp-content/uploads/2019/09/banner-product.jpg");
  background-repeat: no-repeat;
}

.single-product-top-custom {
  margin-top: -60px;
}
