/* font */
body{font-family:  Walsheim-Regular,  sans-serif}
h1,h2,h3,h4,h5,h6, .heading-font{font-family: Walsheim-Bold, sans-serif;}
.nav > li > a {
    font-family: 'ProximaNova-Bold' !important;
    font-weight: 500 !important;
}
.alt-font{font-family: Walsheim-Regular, sans-serif;}

/* logo */
#logo img {
    max-height: 100px !important;
    margin-top: 0px;
      margin-bottom: 0px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 9px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* footer */
.absolute-footer.dark {
    color: #ffffff;
}
.absolute-footer, html {
    background: linear-gradient(90deg, rgba(36,117,188,1) 0%, rgba(36,117,188,1) 35%, rgba(82,189,207,1) 100%);
}

/* header */
.transparent .header-main {
    height: 50px;
}
.header.show-on-scroll, .stuck .header-main {
    height: 50px!important;
}
.header-top {
    background-color: #52bdcf!important;
    background: linear-gradient(90deg, rgba(36,117,188,1) 0%, rgba(36,117,188,1) 35%, rgba(82,189,207,1) 100%);
}